.header {
    background: -webkit-linear-gradient(to right, rgb(203, 17, 184), rgb(252, 37, 116));
    background: linear-gradient(to right, rgb(203, 17, 107), rgb(252, 37, 76));
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-size: large;
  }
  
  .navbar {
    color: #fff;
    margin-left: 825px;
  }
  
  .list {
    display: flex;
    gap: 5rem;
    list-style: none;
    align-items: center;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: #000;
    cursor: pointer;
  }